/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$btn_bckground: #888;

body {
  background-color: #5c154b;
  color: #f8eded;
  a:link {
    color: #faeaea;
    text-decoration: none;
  }
  a:visited {
    color: #e5a1a2;
  }
  a:hover {
    color: #f8eded;
    font-weight: bold;
  }
}

.btn {
  background-color: $btn_bckground;
  color: #fbdbdb;
  padding: 5px;
}

.btn-dnger {
  background-color: darkred;
}
